$dark-blue: #000066;

body {
  background-image: linear-gradient(0.5turn, #000000 0%, $dark-blue 100%);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  color: white;
}

#app,
body,
#app input,
#app textarea {
  font-family: Sintony, sans-serif;
}

#app .geonames li {
  position: relative;
  padding-left: 1.2em;
  margin-left: 1em;
  &::before {
    position: absolute;
    top: 0.25em;
    left: 0;
    content: "\02192";
    color: yellow;
  }
}

#app .points-of-interest li {
  position: relative;
  padding-left: 1.2em;
  margin-left: 1em;
  cursor: pointer;
  &::before {
    position: absolute;
    font-family: icomoon;
    top: 0.25em;
    left: 0;
    content: "\e906";
    color: yellow;
  }
}

.flex-rows {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 0.5em 5%;
  dt {
    margin: 0;
    padding: 0 0.25em 0 0;
  }
  dd {
    margin: 0 2em 0 0.5em;
  }
  dd:last-child {
    margin-right: 0;
  }
}

.map-container {
  position: relative;
  margin: 0;
  padding: 0;
  > div.controls {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2000;
  }
  > .vl-map {
    margin-top: 7.5em;
    @media (min-width: 40em) {
      margin-top: 2.5em;
    }
  }
}

.plain li,
.plain {
  list-style: none;
}

.plain li {
  margin: 0;
}

.horizontal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  li {
    padding: 0.25em 0.5em;
    span,
    strong,
    em {
      display: inline-block;
      margin-right: 0.5em;
    }
  }
}

.tabs {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  border-bottom: solid 1px white;
  li {
    margin: 0 -0.5em -1px 0;
    padding: 0.25em 1em 0.25em 0.75em;
    border: solid 1px white;
    border-top-left-radius: 0.75em;
    border-top-right-radius: 0.75em;
    background-color: $dark-blue;
    cursor: pointer;
    &.active {
      color: yellow;
    }
  }
}

ul.surrounding {
  > li {
    cursor: pointer;
    border: solid 1px white;
    border-radius: 1em;
    margin: 0.25em 0.5em;
    transition: all 0.333s ease-in-out;
    &:hover {
      color: yellow;
    }
    &.active {
      border-color: yellow;
      color: yellow;
      transform: scale(1.1);
    }
    strong {
      font-size: 0.9em;
    }
    em {
      font-size: 0.8em;
    }
  }
}

.columns {
  display: block;
  columns: 16em auto;
  column-gap: 3em;
  li {
    padding: 0 0 0.5em 0;
  }
}

.wikipedia-entries {
  article {
    margin: 0.75em 1em;
    padding: 0.5em 2.5%;
    border-bottom: dashed 1px white;
    max-width: 60em;
  }

  article:first-child {
    margin-top: 0;
    padding-top: 0;
  }

  h4 {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 1.2em;

    em,
    a {
      display: inline-block;
    }
    em {
      font-size: 0.75em;
      margin-left: 0.5em;
    }
  }

  p {
    margin-top: 0.25em;
  }

  article:last-child {
    border-bottom: none;
  }

  a {
    color: yellow;
    text-decoration: none;
  }
}

.map-container {
  position: relative;

  .overlay-content {
    position: absolute;
    border-radius: 0.5em;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
    top: -3em;
    left: 2vw;
    width: 12em;
    padding: 1em;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 1.5vw;
    .coordinates {
      position: relative;
      p {
        margin: 0 0 0 2.5em;
      }
      > i {
        display: block;
        position: absolute;
        top: 0.125em;
        left: 0;
        &::before {
          font-size: 2em;
        }
      }
    }
    @media (min-width: 40em) {
      font-size: 1.25vw;
    }
    @media (min-width: 50em) {
      font-size: 1vw;
    }
    @media (min-width: 80em) {
      font-size: 0.8em;
    }
    p {
      padding: 0;
      margin: 0 0 0.25em 0;
    }
    p.postcode {
      color: yellow;
      font-weight: bold;
      font-size: 1.25em;
      margin: 0.25em 0;
    }
  }
  .vl-map {
    width: 100vw;
    height: 75vh;
  }

  .controls {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: black;

    .logo {
      > a {
        display: block;
        width: 100%;
        height: 2em;
      }

      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      height: 2em;
      margin: 0 auto;
      @media (max-width: 60em) {
        position: absolute;
        background-image: url("/images/mfws.svg");
        width: 16vw;
        margin: 0 auto 0.5em auto;
        background-position: top right;
        top: 0.5em;
        right: 2%;
        @media (min-width: 40em) {
          width: 8vw;
        }
      }
      @media (min-width: 60em) {
        position: relative;
        background-image: url("/images/logo.svg");
        background-position: center right;
        margin: 0 auto 0.5em auto;
        width: 13.5em;
      }
      @media (min-width: 70em) {
        position: relative;
        background-position: center right;
        margin: 0 auto 0.5em auto;
        width: 15em;
      }
    }

    .item > .suggestions {
      width: 100%;
    }

    .suggestions {
      position: absolute;
      top: 2rem;
      left: 0;
      opacity: 0;
      background-color: black;
      pointer-events: none;
      &.show {
        opacity: 1;
        pointer-events: all;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          margin: 0;
          padding: 0.25em;
          cursor: pointer;
          &:hover {
            color: yellow;
          }
        }
      }
    }

    min-height: 2.5em;
    p {
      margin: 0.25em 1em;
    }

    .zoom-level {
      @media (min-width: 40em) and (max-width: 50em) {
        label {
          display: none;
        }
      }
      input {
        @media (min-width: 40em) and (max-width: 60em) {
          max-width: 5em;
        }
      }
    }

    .item {
      position: relative;
    }

    input.textfield {
      color: $dark-blue;
      font-size: 1em;
      &.search {
        border: none;
        border-radius: 1em;
        padding: 0.125em 0.25em 0.125em 0.5em;
        width: 10em;
        line-height: 1em;
        @media (min-width: 60em) {
          width: 12em;
        }
        @media (min-width: 70em) {
          width: 14em;
        }
        @media (min-width: 78em) {
          width: 16em;
        }
      }
    }

    label {
      display: inline-block;
      font-size: 0.75em;
      margin: 0 0.25em 0 0.5em;
    }

    .coordinates {
      font-size: 0.8em;
      @media (min-width: 70em) {
        font-size: 0.9em;
      }
      @media (min-width: 80em) {
        font-size: 1em;
      }
    }

    @media (min-width: 40em) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      p {
        margin: 0 1em;
        &:first-child {
          margin: 0.25em 1em 0 0;
        }
        &:last-child {
          margin: 0.25em 0 0 1em;
        }
      }
    }
  }
}
